.saldo {
    font-size: 2rem;
    font-weight: 700;
    margin-top: 8px;
}

.form {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 8px;
    margin-bottom: 10px;
}
.form select#tipo {grid-column: span 1}
.form input#data {grid-column: span 2}
.form input#valor {grid-column: span 1}
.form input#desc {group-column: span 2}
.form select#categoria {grid-column: span 3}
.form button {grid-column: span 3}